.project-board {
  position: relative;
  top: 30%;
  width: 100%;
}

.project{
  border: rgb(6,30,59);
  padding: 20px 50px;
}

.sec-content-title { 
  top: 15%;
  position: relative;
  margin-left: 11%;
  z-index: 1000;
}

