.navbar {
  padding: 40px 40px 0;
  width: 100%;
}

a, .nav-link, a.contact-text {
  text-decoration: none;
}

a:hover, nav-link:hover, a.contact-text:hover {
  color: #fff9 !important;
  text-decoration: line-through;
}

.name {
  color: #fff;
  font-size: 2.4em;
  letter-spacing: 0.1em;
}

.nav-link {
  color: #fff;
  font-size: 1.4em;
}

.active {
  color: rgb(230, 164, 42) !important;
}

.txt-black{
  color: #111;
}

.txt-black:hover, .active:hover {
  color: rgb(116, 114, 114) !important; 
}


@media only screen and (min-width: 1000px) {
  .hiddenUntilCollapse {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .collapsed {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .navbar {
    padding: 20px 20px 0;
  }
  
  .name {
    font-size: 1.4rem;
  }
}
